<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parques y paquetes</title>
    <link rel="stylesheet" type="text/css" href="../static/css/estilos.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</head>

<body class="body">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <img src="../static/img/logo.png" class="logo">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <a class="nav-link active" aria-current="page" href="../index.html">Inicio</a>
                        <a class="nav-link" href="Parques.html">Parques y paquetes</a>
                        <a class="nav-link" href="politicasyCondiciones.html">Políticas y condiciones </a>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar" id="search">
                </form>
            </div>
        </div>
    </nav>
    <section class="hoteles">
        <div class="container text-center">
            <div class="box">
                <h1>Encuentra tu próximo destino turístico</h1>
            </div>
            <div class="row">
                <div class="col">

                    <div class="card" style="width: 18rem;">
                        <img src="../static/img/parques-promos/Disney.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">DisneyLand</h5>
                            <p class="card-text">
                                Disfruta de una gran experiencia en uno de los parques de Disney, donde encontraras
                                diversas atracciones de tus personajes favoritos de Disneyland
                                <li>Parking gratis</li>
                                <li>Opciones de hospedaje para un mejor acceso al parque</li>
                                <li>Desayunos gratuitos incluidos con el hospedaje</li>
                            </p>
                        </div>
                    </div>

                    <div class="card" style="width: 18rem;">
                        <img src="../static/img/parques-promos/paquete1.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Symphony of the seas</h5>
                            <p class="card-text"> Disfruta de un maravillo viaje en el mar, en el barco más grande del
                                mundo, además de contar con música en vivo en cada una de tus cenas en nuestro gran
                                teatro
                                <li>Wifi gratis</li>
                                <li>Múltiples tiendas</li>
                                <li>Múltiples opciones de comida</li>
                            </p>
                        </div>
                    </div>


                </div>

                <div class="col">

                    <div class="card" style="width: 18rem;">
                        <img src="../static/img/parques-promos/harry.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Harry Potter world</h5>
                            <p class="card-text">Disfruta del mejor parque temático de Harry Potter, con varias de las
                                mejores actividades vistas en películas, un gran espacio para toda la familia
                                <li>Wifi gratis</li>
                                <li>Tiendas temáticas</li>
                                <li>Estacionamiento gratuito</li>
                            </p>
                        </div>
                    </div>

                    <div class="card" style="width: 18rem;">
                        <img src="../static/img/parques-promos/paquete2.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Capitan Hook</h5>
                            <p class="card-text">Disfruta de una experiencia pirata, con el tour del capitán Hook
                                vivirás la mejor experiencia pirata de tu vida.
                                <li>Show pirata</li>
                                <li>Buffet gratuito</li>
                                <li>Venta de artículos exclusivos</li>
                            </p>
                        </div>
                    </div>


                </div>
                <div class="col">

                    <div class="card" style="width: 18rem;">
                        <img src="../static/img/parques-promos/xcaret.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Xcaret</h5>
                            <p class="card-text">Ven y disfruta de Xcart un parque, temático de diversiones y cultural
                                ubicado en la Riviera maya, con más de 50 atracciones naturales y culturales, además de
                                disfrutar de ríos subterráneos, cenotes, fauna, flora y gastronomía mexicana
                                <li>Opciones de hospedaje</li>
                                <li>Shows culturales</li>
                                <li>Eventos por temporada</li>
                            </p>
                        </div>
                    </div>

                    <div class="card" style="width: 18rem;">
                        <img src="../static/img/parques-promos/paquete3.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Cancún tour</h5>
                            <p class="card-text">Ven y disfruta de un tour cultural en Cancún, donde visitas diferentes
                                estructuras de las antiguas civilizaciones, además de aprender la forma en la que vivían
                                los antiguos mayas
                                <li>Actividades al aire libre</li>
                                <li>Shows culturales</li>
                                <li>Servicio de transporte durante el tour</li>
                            </p>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </section>
</body>
<script src="../static/js/scripts.js"></script>
</html>